
.gerege-icon-code:before { content: '\e800'; } /* '' */
.gerege-icon-char-r:before { content: '\e801'; } /* '' */
.gerege-icon-char-e:before { content: '\e802'; } /* '' */
.gerege-icon-char-g:before { content: '\e803'; } /* '' */
